body {
  background-color: rgb(51, 245, 255);
  color: rgb(44, 44, 44);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: linear-gradient(to top left, #28a6b4, #6fd5b6);
}

h1 {
  font-family: sans-serif;
  font-size: 100px;
  line-height: 1;
  width: 100%;
  text-align: center;
  color: white;
}

div {
  font-family: sans-serif;
  width: 100%;
  text-align: center;
}
input {
  border: none;
  font-size: 20px;
  border-radius: 4px;
  line-height: 2;
  width: 25%;
}

button {
  border: none;
  font-size: 20px;
  border-radius: 4px;
  line-height: 2;
  background-color: rgb(127, 251, 255);
}

button:hover {
  background-color: rgb(75, 231, 255);
}
